.book-preview {
    display: flex;
    align-items: center;
    width: 30rem;
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 12px;
        border-bottom: 1px solid rgb(150, 150, 150);
    }
    .main {
        margin: 12px 0;
        h2 {
            margin-bottom: 5px;
            font-weight: lighter;
            color: rgb(32, 151, 135);
        }
    }
    .book-container {
        width: 100%;
        padding: 30px;
        background-color: white;
    }
    button {
        padding: 10px;
        font-size: 30px;
        background-color: transparent;
        &:hover {
            color: #e09200;
        }
        &:focus {
            outline: none;
        }
    }
    // .footer {

    // }
}
